StockServiceController/Connected Services/StockServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StockService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/StockServiceLibrary.DataContract" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStockService_GetStock_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStock" />
  </wsdl:message>
  <wsdl:message name="IStockService_GetStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStockResponse" />
  </wsdl:message>
  <wsdl:message name="IStockService_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IStockService_SendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IStockService_GetMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessages" />
  </wsdl:message>
  <wsdl:message name="IStockService_GetMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IStockService_ToByteArray_InputMessage">
    <wsdl:part name="parameters" element="tns:ToByteArray" />
  </wsdl:message>
  <wsdl:message name="IStockService_ToByteArray_OutputMessage">
    <wsdl:part name="parameters" element="tns:ToByteArrayResponse" />
  </wsdl:message>
  <wsdl:message name="IStockService_FromByteArray_InputMessage">
    <wsdl:part name="parameters" element="tns:FromByteArray" />
  </wsdl:message>
  <wsdl:message name="IStockService_FromByteArray_OutputMessage">
    <wsdl:part name="parameters" element="tns:FromByteArrayResponse" />
  </wsdl:message>
  <wsdl:portType name="IStockService">
    <wsdl:operation name="GetStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/GetStock" message="tns:IStockService_GetStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/GetStockResponse" message="tns:IStockService_GetStock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/SendMessage" message="tns:IStockService_SendMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/SendMessageResponse" message="tns:IStockService_SendMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/GetMessages" message="tns:IStockService_GetMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/GetMessagesResponse" message="tns:IStockService_GetMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ToByteArray">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/ToByteArray" message="tns:IStockService_ToByteArray_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/ToByteArrayResponse" message="tns:IStockService_ToByteArray_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FromByteArray">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/FromByteArray" message="tns:IStockService_FromByteArray_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/FromByteArrayResponse" message="tns:IStockService_FromByteArray_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="basic" type="tns:IStockService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStock">
      <soap:operation soapAction="http://tempuri.org/IStockService/GetStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap:operation soapAction="http://tempuri.org/IStockService/SendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <soap:operation soapAction="http://tempuri.org/IStockService/GetMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToByteArray">
      <soap:operation soapAction="http://tempuri.org/IStockService/ToByteArray" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FromByteArray">
      <soap:operation soapAction="http://tempuri.org/IStockService/FromByteArray" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StockService">
    <wsdl:port name="basic" binding="tns:basic">
      <soap:address location="http://localhost:8733/StockServiceLibrary/StockService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>