StockServiceLibrary/ServiceConfigurationSectionDesigner.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:StockServiceLibrary" elementFormDefault="qualified" targetNamespace="urn:StockServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="serviceConfigurationSection" type="tns:StockServiceLibrary.ServiceConfigurationSectionCT" />
	<xs:complexType name="StockServiceLibrary.ServiceConfigurationSectionCT">
		<xs:attribute name="rabbitMQ_HostName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The RabbitMQ_HostName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
